{{- if and (eq .chezmoi.os "darwin") (eq .hostname "A1519-disabled") -}}
#!/bin/bash
# Brewfile hash: {{ include "Brewfile.tmpl" | sha256sum }}

brew bundle install --no-upgrade --file=/dev/stdin <<EOF
{{ includeTemplate "Brewfile.tmpl" . }}
EOF

brew bundle cleanup --file=/dev/stdin <<EOF
{{ includeTemplate "Brewfile.tmpl" . }}
EOF
{{ end -}}
