tap "buo/cask-upgrade"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/services"
tap "koekeishiya/formulae"

## Essentials
brew "age", args: ["HEAD"]
brew "age-plugin-yubikey"
brew "bat"
brew "brew-cask-completion"
brew "chezmoi"
brew "exa"
brew "fd"
brew "fish"
brew "fzf"
brew "git"
brew "git-delta"
brew "gnupg"
brew "gnu-sed"
brew "gopass"
brew "lazygit"
brew "mas"
brew "neovim"
brew "node" # pre-commit dependency
brew "openssh"
brew "pinentry-mac"
brew "pre-commit"
brew "pueue"
brew "ripgrep"
brew "rm-improved"
brew "starship"
brew "tmux"
brew "tree"
brew "watch"
brew "wget"
brew "zoxide"
brew "zstd"
brew "koekeishiya/formulae/skhd"
brew "koekeishiya/formulae/yabai"

cask "1password-cli"
cask "alt-tab"
cask "font-fira-code-nerd-font"
cask "monitorcontrol"
cask "wezterm"

## Tools
brew "docker"
brew "gh"
brew "go"
brew "helm"
brew "hugo"
brew "gojq"
brew "k3d"
brew "make"
brew "pipx"
brew "pwgen"
brew "pyenv"
brew "pyenv-virtualenv"
brew "skopeo"
brew "sops"
brew "terraform"
brew "xsv"
brew "ykman"
brew "yq"
brew "yubico-piv-tool"
brew "yubikey-agent"

## Dependencies (pyenv)
brew "openssl"
brew "readline"
brew "xz"
brew "sqlite3"
brew "zlib"
brew "tcl-tk"

## Common casks
cask "breaktimer"
cask "docker"
cask "obsidian"
cask "raindropio"
cask "raycast"

{{- if eq .hostname "A1519" }}
tap "flyteorg/tap"
tap "dagger/tap"

brew "argocd"
brew "awscli"
brew "commitizen"
brew "dagger/tap/dagger"
brew "dvc"
brew "flyteorg/homebrew-tap/flytectl"
brew "gomplate"
brew "gopls"
brew "kubectx"
brew "k9s"
brew "kustomize"
brew "minikube"
# brew "oras"
brew "slides"
brew "terragrunt"


cask "arc"
cask "firefox"
cask "openlens"
cask "pycharm-ce"
cask "vscodium"

{{- end}}

{{- if eq .hostname "Brams-MacBook-Air" }}
## Formulas
brew "pandoc"
brew "poetry"
brew "rsync"
brew "wakeonlan"

## Casks
cask "1password"
cask "aldente"
cask "beekeeper-studio"
cask "chrysalis"
cask "cloudflare-warp"
cask "db-browser-for-sqlite"
cask "firefox"
cask "google-chrome"
cask "google-drive"
cask "hiddenbar"
cask "lepton"
cask "logseq" #remove
cask "macfuse"
cask "mactex-no-gui"
cask "microsoft-edge"
cask "microsoft-auto-update"
cask "nordvpn"
cask "notion"
cask "pgadmin4"
cask "protonmail-bridge"
cask "pycharm"
cask "rectangle"
cask "signal"
cask "slack"
cask "spotify"
cask "synology-drive"
cask "texstudio"
cask "visual-studio-code"
cask "vlc"
cask "whatsapp"
cask "yubico-yubikey-manager"
cask "yubico-yubikey-piv-manager"
cask "zotero"

mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "WireGuard", id: 1451685025
mas "Yubico Authenticator", id: 1497506650
{{- end  }}

{{- if eq .hostname "SHPLC-T4VS" }}

### HOST SHPLC-T4VS ###
tap "microsoft/mssql-release"
brew "argo"
brew "argocd"
brew "azure-cli"
brew "circleci"
brew "cookiecutter"
brew "graphviz"
brew "helm"
brew "k3d"
brew "k9s"
brew "kind"
brew "kubernetes-cli"
brew "kubectx"
brew "kustomize"
brew "minikube"
brew "terraform"
brew "terraform-docs"
brew "tflint"
brew "tfsec"
brew "parallel"
brew "microsoft/mssql-release/msodbcsql18"
brew "microsoft/mssql-release/mssql-tools18"

cask "beekeeper-studio"
cask "breaktimer"
cask "db-browser-for-sqlite"
cask "azure-data-studio"
cask "keybase"
cask "microsoft-auto-update"
cask "microsoft-azure-storage-explorer"
cask "microsoft-edge"
cask "microsoft-teams"
cask "pgadmin4"
cask "lens"

mas "Azure VPN Client", id: 1553936137
mas "Microsoft To Do", id: 1274495053
mas "Slack", id: 803453959
### END ###
{{- end  }}
