tap "buo/cask-upgrade"
tap "homebrew/autoupdate"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/services"
tap "aws/tap"
tap "nikitabobko/tap" # aerospace
tap "jesseduffield/lazydocker"

## Essentials
brew "age", args: ["HEAD"]
brew "age-plugin-yubikey"
brew "bat"
brew "brew-cask-completion"
brew "broot"
brew "chezmoi"
brew "direnv" # not needed with mise
brew "dust"
brew "dive"
brew "eza"
brew "fd"
brew "fx"
brew "fish"
brew "fzf"
brew "git"
brew "git-delta"
brew "gnupg"
brew "gnu-sed"
brew "gopass"
brew "httpie"
brew "lazydocker"
brew "lazygit"
brew "mas"
brew "mise"
brew "neovim"
brew "node" # pre-commit dependency
brew "openssh"
brew "parallel"
brew "pinentry-mac"
brew "pre-commit"
brew "pueue"
brew "ripgrep"
brew "rm-improved"
brew "starship"
brew "tmux"
brew "tree"
brew "tlrc" # tldr client in rust
brew "watch"
brew "wget"
brew "zoxide"
brew "zstd"
# brew "lf"
# brew "ranger"
# brew "mprocs"

cask "1password-cli"
cask "aerospace"
cask "alt-tab"
cask "font-fira-code-nerd-font"
cask "monitorcontrol"
cask "wezterm"

## Tools
brew "docker"
brew "earthly"
brew "gh"
brew "go"
brew "helm"
brew "hugo"
brew "gojq"
brew "just"
brew "k3d"
brew "kind"
brew "lima"
brew "make"
brew "pipx"
brew "pwgen"
brew "pyenv"
brew "pyenv-virtualenv"
brew "skopeo"
brew "sops"
brew "terraform"
brew "xsv"
brew "yazi"
brew "ykman"
brew "yq"
brew "yubico-piv-tool"
brew "yubikey-agent"

## Dependencies (pyenv)
brew "openssl"
brew "readline"
brew "xz"
brew "sqlite3"
brew "zlib"
brew "tcl-tk"

## Common casks
cask "breaktimer"
cask "docker"
cask "hiddenbar"
cask "obsidian"
cask "raindropio"
cask "raycast"

{{- if eq .hostname "A1519" }}
tap "dagger/tap"
tap "defenseunicorns/tap" # Zarf
tap "flyteorg/tap"

brew "argocd"
brew "awscli"
brew "aws/tap/eks-node-viewer"
brew "bash"
brew "commitizen"
brew "dagger/tap/dagger"
brew "defenseunicorns/tap/zarf"
brew "dvc"
brew "flyteorg/homebrew-tap/flytectl"
brew "gomplate"
brew "gopls"
brew "kubectx"
brew "k6"
brew "k9s"
brew "kustomize"
brew "minikube"
# brew "oras"
brew "slides"
brew "terragrunt"
brew "terraform-docs"
brew "wireguard-go"
brew "wireguard-tools"


cask "arc"
cask "beekeeper-studio"
cask "firefox"
cask "openlens"
cask "pycharm-ce"
cask "signal"
cask "vscodium"
cask "visual-studio-code"

{{- end}}

{{- if eq .hostname "Brams-MacBook-Air" }}
## Formulas
brew "ffmpeg"
brew "mkcert"
# brew "nushell"
brew "pandoc"
brew "poetry"
brew "rsync"
brew "wakeonlan"
brew "step"
brew "wireguard-go"
brew "wireguard-tools"

## Casks
cask "1password"
cask "aldente"
cask "beekeeper-studio"
cask "chrysalis"
cask "cloudflare-warp"
cask "db-browser-for-sqlite"
cask "firefox"
cask "google-chrome"
cask "google-drive"
cask "lepton"
cask "logseq" #remove
cask "macfuse"
cask "mactex-no-gui"
cask "microsoft-edge"
cask "microsoft-auto-update"
cask "nordvpn"
cask "notion"
cask "pgadmin4"
cask "protonmail-bridge"
cask "pycharm"
cask "rectangle"
cask "signal"
cask "slack"
cask "spotify"
cask "synology-drive"
cask "texstudio"
cask "visual-studio-code"
cask "vlc"
cask "whatsapp"
cask "yubico-yubikey-manager"
cask "yubico-yubikey-piv-manager"
cask "zotero"

mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "WireGuard", id: 1451685025
mas "Yubico Authenticator", id: 1497506650
{{- end  }}
