tap "buo/cask-upgrade"
tap "cantino/mcfly"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
tap "koekeishiya/formulae"

## Essentials
brew "age", args: ["HEAD"]
brew "age-plugin-yubikey"
brew "bat"
brew "brew-cask-completion"
brew "chezmoi"
brew "fish"
brew "fzf"
brew "git"
brew "gnupg"
brew "gopass"
brew "mas"
brew "neovim"
brew "node" # pre-commit dependency
brew "openssh"
brew "pinentry-mac"
brew "pre-commit"
brew "cantino/mcfly/mcfly"
brew "ripgrep"
brew "starship"
brew "tmux"
brew "tree"
brew "watch"
brew "wget"
brew "zoxide"
brew "koekeishiya/formulae/skhd"
brew "koekeishiya/formulae/yabai"

cask "1password"
cask "1password-cli"
cask "alfred"
cask "chrysalis"
cask "dozer"
cask "font-fira-code-nerd-font"
cask "font-source-code-pro"
cask "iterm2"
cask "kitty"
cask "monitorcontrol"
cask "wezterm"

## Tools
brew "gh"
brew "go"
brew "hugo"
brew "jq"
brew "pipx"
brew "pwgen"
brew "pyenv"
brew "pyenv-virtualenv"
brew "skopeo"
brew "sops"
brew "xsv"
brew "ykman"
brew "yq"
brew "yubico-piv-tool"
brew "yubikey-agent"

## Dependencies (pyenv)
brew "openssl"
brew "readline"
brew "xz"
brew "sqlite3"
brew "zlib"
brew "tcl-tk"

## Casks
cask "beekeeper-studio"
cask "breaktimer"
cask "cloudflare-warp"
cask "db-browser-for-sqlite"
cask "docker"
cask "lepton"
cask "logseq"
cask "notion"
cask "obsidian"
cask "raindropio"
cask "rectangle"
cask "signal"
cask "visual-studio-code"
cask "whatsapp"

mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "WireGuard", id: 1451685025
mas "Yubico Authenticator", id: 1497506650

{{- if eq .hostname "SHPLC-T4VS" }}

### HOST SHPLC-T4VS ###
tap "microsoft/mssql-release"
brew "argo"
brew "argocd"
brew "azure-cli"
brew "circleci"
brew "cookiecutter"
brew "graphviz"
brew "helm"
brew "k3d"
brew "k9s"
brew "kind"
brew "kubernetes-cli"
brew "kubectx"
brew "kustomize"
brew "minikube"
brew "terraform"
brew "terraform-docs"
brew "tflint"
brew "tfsec"
brew "parallel"
brew "microsoft/mssql-release/msodbcsql18"
brew "microsoft/mssql-release/mssql-tools18"

cask "azure-data-studio"
cask "keybase"
cask "microsoft-auto-update"
cask "microsoft-azure-storage-explorer"
cask "microsoft-edge"
cask "microsoft-teams"
cask "pgadmin4"
cask "lens"

mas "Azure VPN Client", id: 1553936137
mas "Microsoft To Do", id: 1274495053
mas "Slack", id: 803453959
### END ###
{{- end  }}
