{{- $work := include "data/work.yaml.age" | decrypt | fromYaml -}}

# Homebrew
export PATH="/usr/local/sbin:$PATH"

# Brew autocompletion
FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH

# Pyenv
export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

# Poetry
export PATH="$HOME/.local/bin:$PATH"

# External package registry
# This allows pip to pull packages from a custom package registry:
export PIP_EXTRA_INDEX_URL={{ $work.pip_extra_index_url }}
export GEMFURY_DOWNLOAD_KEY={{ $work.gemfury_download_key }}

# Go PATH
export PATH="$HOME/go/bin:$PATH"

# GPG TTY
export GPG_TTY=$(tty)

# DevPi
export PIP_INDEX_URL=http://localhost:4040/root/pypi/+simple/
