{{- $work := include "data/work.yaml.age" | decrypt | fromYaml -}}

# External package registry
# This allows pip to pull packages from a custom package registry:
set -gx POETRY_HTTP_BASIC_ADARGA_PYPI_USERNAME {{ $work.pypi_token }}
set -gx CI_SETTINGS__PACKAGECLOUD__TOKEN {{ $work.pypi_token }}
